<!-- Navbar Region Start Here  -->

{{page.navbar_region}}

<!-- Navbar Region End Here -->
{% if is_front %}
<!-------Banner Start------->
<section class="banner" data-scroll-index='0'>

    {{page.banner}}

</section>
{% endif %}
<!-------Banner End------->

<!-- Dynamic Content Start -->
<div class="wcp-dynamic-content">
    {{page.content}}
</div>

<!-- Dynamic Content End Here -->

<!-------Footer Start Here -------> 
    {{page.footer_region}}
<!-------Footer End Here -------> 





